:root {
  --accent-color: var(--orange-4);
  --accent-bg-color: var(--orange-4);
  --accent-fg-color: alpha(white, 1);
}

.dragndrop-overlay {
  background-color: alpha(var(--accent-color), 0.35);
  color: var(--accent-color);
  margin: 24px;
  border-radius: 8px;
}

textview {
  background: none;
}
